defaults
    log     global
    mode    http
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

global
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

    ssl-default-server-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

    # see: https://ssl-config.mozilla.org/
    # curl https://ssl-config.mozilla.org/ffdhe2048.txt > /path/to/dhparam
    #ssl-dh-param-file /path/to/dhparam

frontend service_ingress
  bind *:{{ SERVICE_PROXY_NONSSL_PORT }}
{% if  HAPROXY_ENABLE_SSL %}
  bind *:{{ SERVICE_PROXY_SSL_PORT }} ssl crt /etc/ssl/private/cert.pem alpn h2,http/1.1
  redirect scheme https code 301 if !{ ssl_fc }
  http-response set-header Strict-Transport-Security max-age=63072000
{% endif %}

  option forwardfor
  use_backend service_istio_backend


frontend user_ingress
  bind *:{{ USER_PROXY_NONSSL_PORT }}
{% if  HAPROXY_ENABLE_SSL %}
  bind *:{{ USER_PROXY_SSL_PORT }} ssl crt /etc/ssl/private/cert.pem alpn h2,http/1.1
  redirect scheme https code 301 if !{ ssl_fc }
  http-response set-header Strict-Transport-Security max-age=63072000
{% endif %}

  option forwardfor
  use_backend user_istio_backend


backend service_istio_backend
  server service_istio {{ SERVICE_ISTIO_INGRESS_IP }}:{{ SERVICE_ISTIO_INGRESS_PORT }} check

backend user_istio_backend
  server user_istio {{ USER_ISTIO_INGRESS_IP }}:{{ USER_ISTIO_INGRESS_PORT }} check
