apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: workflow-definition
  name: workflow-definition
spec:
  replicas: 1
  strategy: {}
  selector:
    matchLabels:
      service: workflow-definition
  template:
    metadata:
      labels:
        service: workflow-definition
    spec:
      containers:
      - env:
        - name: MONGODB_ADDRESS
          valueFrom:
            configMapKeyRef:
              name: db-config
              key: mongodb.address
        - name: MONGODB_DB_NAME
          valueFrom:
            configMapKeyRef:
              name: db-config
              key: mongodb.db_name
        - name: MONGODB_COLLECTION_NAME
          value: workflow_definition
        - name: NATS_ADDRESS
          value: {{ NATS_ADDRESS }}
        image: {{ NAFIGOS_REGISTRY_PATH }}/workflow_definition_service
        name: workflow-definition
        resources: {}
      restartPolicy: Always
status: {}
